from airflow.decorators import dag
from airflow.operators.empty import EmptyOperator
from airflow.hooks.base import BaseHook
from airflow.notifications.basenotifier import BaseNotifier, Context
from pendulum import datetime
import requests
import json

# Notification config - MS Teams
MSTEAMS_CONN_ID = "msteams_default"


class MSTeamsWebhookHook(BaseHook):
    """
    Airflow Hook for sending messages to a Microsoft Teams channel using a webhook.
    """

    def __init__(self, teams_conn_id='msteams_default'):
        super().__init__()
        self.teams_conn_id = teams_conn_id
        self.conn = self.get_connection(self.teams_conn_id)
        self.webhook_url = self.conn.host

    def send_task_status(self,
                         task_name: str,
                         parent_dag: str,
                         status: str,
                         run_type: str,
                         duration):
        payload = {
            "type": "message",
            "attachments": [
                {
                    "contentType": "application/vnd.microsoft.card.adaptive",
                    "contentUrl": None,
                    "content": {
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.5",
    "body": [
        {
            "type": "TextBlock",
            "text": "Airflow Task Update",
            "wrap": true,
            "style": "heading",
            "size": "Large"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "size": "Small",
                            "url": "https://www.element61.be/sites/default/files/img_knowledge_base/airflow.png",
                            "altText": "Airplane"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Task Status",
                            "horizontalAlignment": "Right",
                            "isSubtle": true,
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "DELAYED",
                            "horizontalAlignment": "Right",
                            "spacing": "None",
                            "size": "Large",
                            "color": "Attention",
                            "wrap": true
                        }
                    ]
                }
            ]
        },
        {
            "type": "ColumnSet",
            "separator": true,
            "spacing": "Medium",
            "columns": [
                {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Workflow",
                            "isSubtle": true,
                            "weight": "Bolder",
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "bronze_ingestion_workflow",
                            "spacing": "Small",
                            "wrap": true
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Run ID",
                            "horizontalAlignment": "Right",
                            "isSubtle": true,
                            "weight": "Bolder",
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "14A",
                            "horizontalAlignment": "Right",
                            "spacing": "Small",
                            "wrap": true
                        }
                    ]
                }
            ]
        },
        {
            "type": "ColumnSet",
            "spacing": "Medium",
            "separator": true,
            "columns": [
                {
                    "type": "Column",
                    "width": 1,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Start Time",
                            "isSubtle": true,
                            "weight": "Bolder",
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "9:00 pm",
                            "spacing": "Small",
                            "wrap": true
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 1,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "End Time",
                            "isSubtle": true,
                            "horizontalAlignment": "Center",
                            "weight": "Bolder",
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "9:01 pm",
                            "weight": "Bolder",
                            "horizontalAlignment": "Center",
                            "spacing": "Small",
                            "wrap": true
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 1,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Duration",
                            "isSubtle": true,
                            "horizontalAlignment": "Right",
                            "weight": "Bolder",
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "60 seconds",
                            "color": "Attention",
                            "horizontalAlignment": "Right",
                            "weight": "Bolder",
                            "spacing": "Small",
                            "wrap": true
                        }
                    ]
                }
            ]
        },
        {
            "type": "ColumnSet",
            "spacing": "Medium",
            "separator": true,
            "columns": [
                {
                    "type": "Column",
                    "width": 1,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Environment",
                            "isSubtle": true,
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "DEV",
                            "size": "ExtraLarge",
                            "color": "Accent",
                            "spacing": "None",
                            "wrap": true
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": " ",
                            "wrap": true
                        },
                        {
                            "type": "Image",
                            "url": "https://adaptivecards.io/content/airplane.png",
                            "altText": "Airplane",
                            "size": "Small"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 1,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Source",
                            "isSubtle": true,
                            "horizontalAlignment": "Right",
                            "wrap": true
                        },
                        {
                            "type": "TextBlock",
                            "text": "Fleetsu",
                            "horizontalAlignment": "Right",
                            "size": "ExtraLarge",
                            "color": "Accent",
                            "spacing": "None",
                            "wrap": true
                        }
                    ]
                }
            ]
        },
        {
            "type": "ActionSet",
            "separator": true,
            "actions": [
                {
                    "type": "Action.OpenUrl",
                    "title": "View Task Run",
                    "url": "https://google.com"
                },
                {
                    "type": "Action.OpenUrl",
                    "title": "View Job Run",
                    "url": "https://google.com"
                }
            ]
        }
    ]
}

                }
            ]
        }
        headers = {"content-type": "application/json"}
        response = requests.post(self.webhook_url, json=payload, headers=headers)

        if response.status_code == 200:
            return "Message sent successfully to Microsoft Teams."
        else:
            response.raise_for_status()


class TeamsNotifier(BaseNotifier):

    def __init__(self, *, teams_conn_id: str = MSTEAMS_CONN_ID, status: str):
        super().__init__()
        self.teams_conn_id = teams_conn_id
        self.status = status

    def hook(self) -> MSTeamsWebhookHook:
        """MS Teams Webhook"""
        return MSTeamsWebhookHook(teams_conn_id=self.teams_conn_id)

    def notify(self, context: Context) -> None:
        dag_run = context['dag_run']
        task = context['task']
        task_instance = context['task_instance']
        task_key = context['task_instance_key_str']
        hook = self.hook()
        hook.send_task_status(
            task_name=task.task_id,
            parent_dag=dag_run.dag_id,
            status=self.status,
            duration=task_instance.duration,
            run_type=dag_run.run_type)


default_args = {
    'owner': 'airflow',
    'start_date': datetime(2023, 1, 1),
    'retries': 1,
}


@dag(default_args=default_args, catchup=False)
def example_dag():

    t1 = EmptyOperator(task_id='t1')
    t2 = EmptyOperator(task_id='t2',
                       on_success_callback=[TeamsNotifier(status='SUCCESS')],
                       on_failure_callback=[])

    t1 >> t2


example_dag()
